@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }
::selection { background: rgba(0,0,0,0.15); }

@layer base {
  body {
    @apply bg-white text-neutral-900 dark:bg-neutral-950 dark:text-neutral-50;
  }
}
